<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="author" content="Gengyuan Huang">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>心的铁片/WNFA Posters Generator</title>
</head>

<body>
    <div id="site-structure">
        <div class="ceil">
            <label id="site-console">
                <textarea class="input"></textarea>
            </label>
        </div>
        <div class="floor">
            <div class="surface"></div>
            <div class="monitor"></div>
            <div class="monitor-shadow"></div>
            
            <div class="footer">
                <p class="first"></p><p class="second"></p>
            </div>
        </div>
        </div>
    </div>

</body>

</html>