
body {
    margin: 0;
    font-family: "Syne", "Qi Hei", sans-serif;
    background-color: #000;
    color: rgb(225, 225, 225);
}

p {
    margin: 0;
    line-height: 2em;
}

textarea {
    all: unset;
}