@font-face {
    font-family: "Qi Hei";
    font-size: normal;
    font-weight: 400;
    src: url('../font/HYQiHei-45S.woff2') format("woff2");
}

@font-face {
    font-family: "Syne";
    font-size: normal;
    font-weight: 400;
    src: url('../font/Syne-Regular.woff2') format("woff2");
}